<div id="app">
    <aside>
        <strong>Filtrar</strong>
        <form>
            <div class="input-block">
                <label for="github_login">Usuário do Github</label>
                <input 
                  name="github_login" 
                  id="github_login" 
                  #github_login
                  required
                />
              </div>
              <button type="submit" (click)="getMembers(this.github_login)">Buscar</button>
        </form>

      </aside>
    <main>
        <ul>
            <app-member *ngFor="let member of allmembers | async" [member]="member"></app-member>
        </ul>
    </main>
</div>