li.member-item {
    background: #FFF;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding: 20px;
}

li.member-item header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

li.member-item img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

li.member-item header .user-info {
    margin-left: 10px;
}

li.member-item a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
}

li.member-item a:hover {
    color: #5A2EA6
} 

.user-info strong {
    display: block;
    font-size: 16px;
}